<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojos</title>
</head>
<body>
    <p>Please fill in the following survey</p>
    <form>
        First Name: <input type="text" name="first">
        Last Name: <input type="text" name="last">
        Email: <input type="text" name="email">
        <input type="submit" value="Submit">
    </form>
</body>
</html>